/**
 * File: _cehck.scss
 * Type: SASS module
 * Author: Chris Humboldt
 */

// Table of contents
// ---------------------------------------------------------------------------------------
// Font face
// Check input
// Radio inputs
// Fixes

// Check input
// ---------------------------------------------------------------------------------------
@mixin form-check-all() {
	.formplate-checkbox,
	.formplate-radio {
		@include position(relative);
		@include text-font('formplate');
		&:before {
			content: "";
			@include display(inline-block);
			@include position(relative, margin-right 0px);
			@include margin-top(0px);
			@include margin-bottom(2px);
			@include size(22px, 22px);
			@include text-align(center);
			@include text-line-height(22px);
			@include text-size(10px);
			@include vertical-align(middle);
			@include border($grey-form);
			@include border-radius();
			@include background-clip();
			@include level(1);
		}
		&._checked:before {
			content: "\e600";
			@include text-colour($white);
		}
		// Hide inputs
		> input {
			@include spacing-no();
			@include position(absolute, left 0);
			@include display(inline-block);
			@include size(22px, 22px);
			@include opacity(0);
			@include level(2);

			&:hover {
				cursor: pointer;
			}
		}
	}

	// Hover / checked
	@each $colour-name, $colour in $ar-colours-form {
		.formplate-no-touch .formplate-colour-#{$colour-name} {
			.formplate-checkbox,
			.formplate-radio {
				&:hover:before {
					@include border($colour);
				}
				&._checked:before {
					@include border($colour);
					@include background-color($colour);
				}
			}
		}
	}
}

// Radio inputs
@mixin form-check-radio() {
	.formplate-radio:before {
		@include border-radius(50%);
		@include background-clip();
	}
}

// Fixes
@mixin form-check-fixes() {
	@-moz-document url-prefix() {
		.formplate-checkbox,
		.formplate-radio {
			@include text-line-height(21px);
		}
	}
}
